<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Movie form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>
<body>
<h1>Here you can give the movie information</h1>
	
<form action="#" th:action="@{/addmovie}"  th:object= ${movie} method="post">
<table class="table table-striped table-hover form-narrow ">

	
					<thead>
                        <tr>
                            <th>Movie name</th>
                            <th th:if="${#fields.hasErrors('name')}">Error</th>
                            <th>Movies category</th>
                        </tr>
                    </thead>
                    <tbody>
	                    <tr>
	                    	<td><input type="text" th:field="${movie.name}" /></td>
	                    	<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Generic Error</td>
	                 		<td><select id="categorylist" th:field="*{category}" class="form-control">
    <option th:each="category: ${categories}" th:value="${category.categoryId}" th:text="${category.name}"></option> 
	</select></td>
	
	                    </tr>
                    </tbody>
	
	
	
		</table>
		<input type="submit" value="Submit" class="btn btn-success btn-lg"/>
		</form>
		
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    	<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
	
</body>
</html>