<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Give feedbag</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>
<body>
<h1>Here you can give feedback about the app</h1>
	
<form action="#" th:action="@{/feedback}"  th:object= ${feedback} method="post">
<table class="table table-striped table-hover form-narrow ">

	
					<thead>
                        <tr>
                            <th>Give feedback here</th>
                            <th th:if="${#fields.hasErrors('text')}">Error</th>
                        </tr>
                    </thead>
                    <tbody>
	                    <tr>
	                    	<td><input type="text" th:field="${feedback.text}" /></td>
	                    	<td th:if="${#fields.hasErrors('text')}" th:errors="*{name}">Generic Error</td>
	                    </tr>
                    </tbody>
	
		</table>
		<input type="submit" value="Submit" class="btn btn-success btn-lg"/>
		</form>
		
		<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    	<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
	
</body>
</html>